site_name: Face Recognition API
# site_url: username.github.io
theme:
  name: material
  palette:
    # Light mode
    - media: "(prefers-color-scheme: light)"
      scheme: default
      primary: indigo
      accent: indigo
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    # Dark mode
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      primary: black
      accent: indigo
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
markdown_extensions:
  - admonition
  - pymdownx.superfences  # For diagrams/tabs
  - pymdownx.tabbed:      # For content tabs
      alternate_style: true
plugins:
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true         # Shows code alongside docs
            show_root_heading: true   # Shows the module name
